version: '3'
services:
 db:
   image: mariadb:11.8
   container_name: rail-disruptions-mariadb
   ports:
     - "3306:3306"
   environment:
     - MYSQL_ROOT_PASSWORD=password
     - MYSQL_DATABASE=default
   volumes:
     - docker-compose-db:/var/lib/mysql
