{% extends "_base.html" %}

{% block content %}
  <ul>
    {% for serviceIndicator in serviceIndicators %}
      {% if serviceIndicator.status != "Good service" or serviceIndicator.incidents %}
        <li><a href="/operator/{{ serviceIndicator.operator.code }}">{{ serviceIndicator.operator.name }}</a>: {{ serviceIndicator.status }}
          {% if serviceIndicator.incidents %}
            <ul>
              {% for incident in serviceIndicator.incidents %}
                <li>{{ incidentDetails[incident.id].summary }} (last updated: {{ incidentDetails[incident.id].lastUpdatedTs.strftime("%d/%m/%Y %H:%M") }})</li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <p>A good service on all other operators.</p>
{% endblock %}
